{%load static%}

<div class="container title text-center wow fadeIn" data-wow-duration="1500ms" >
  <span class="downloadWorld">
     <span>Download App</span>
    <img class="img1" src="{% static 'img/cloud.png' %}" style="width:60px">
  </span>

  <hr class="line container title text-center wow fadeIn" style="margin:0px">

</div>

<div class="container">

  <div class="row">

    <div class="col-md-6 down_section" >

      <div class="content-block">
        <span class="downloadWorld2">It's time to change your live !</span>
        <p class="conteent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempora itaque, autem dolores culpa cum mollitia voluptate nesciunt voluptatibus quasi.</p>

        <div class="appstore">
          <div class="appstore1">
            <a href="https://apps.apple.com/us/app/%D8%B3%D8%A8%D8%B9-%D8%B5%D9%86%D8%A7%D9%8A%D8%B9/id1479107425"> <img class="googleplay" src="{% static 'img/images2.png' %}"></a>
          </div>
          <div class="appstore2">
            <a href="https://play.google.com/store/apps/details?id=com.sevenindustries.iq&hl=ar&gl=US"> <img class="googleplay1" src="{% static 'img/images3.png' %}"></a>
          </div>
        </div>

      </div>

    </div>

    <div class="col-md-6 " style="background: url('{% static 'img/downlogo.png' %}');  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;height: 500px; " >
<!--      <img class="img-responsive1" src="{% static 'img/downlogo.png' %}" alt="">-->
    </div>

  </div>

</div>